{% extends 'orix/layout.html' %}
{%block section%}

<section id="particles-js" class="blog-detail pattern error-page gap" >
	<div class="container">
		<div class="error" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
			<div class="error-img">
			<h2>4</h2>
			<img alt="404" src="img/404.png">
			<h2>4</h2>
			</div>
			<h3>Ooops, Page Not Found</h3>
			<p>We Can't Seem to find the page you're looking for.</p>
			<form class="one error-input">
				<input type="text" name="Kayword" placeholder="Enter Kayword....">
				<button class="magic-hover magic-hover__square"><i class="fa-solid fa-magnifying-glass"></i></button>

			</form>
		</div>
		<div class="footer-data">
					<ul class="social-media-footer">
						<li><a class="magic-hover magic-hover__square" href="#"><i class="fa-brands fa-facebook-f fb"></i>Facebook</a></li>
						<li><a class="magic-hover magic-hover__square" href="#"><i class="fa-brands fa-twitter tw"></i>Twitter</a></li>
						<li><a class="magic-hover magic-hover__square" href="#"><i class="fa-brands fa-vimeo-v vi"></i>Vimeo</a></li>
						<li><a class="magic-hover magic-hover__square" href="#"><i class="fa-brands fa-linkedin-in in"></i>Linked In</a></li>
					</ul>
					<h6>© 2022 CV Resume<i class="fa-solid fa-heart"></i>By Winsfolio, All Rights Reserved</h6>
		</div>
	</div>

</section>

{%endblock%}